@font-face
{
	font-family: "TeX";
	src: url("../fonts/TeX/texgyreheros-regular-webfont.woff");
}

@font-face
{
	font-family: "TeX";
	src: url("../fonts/TeX/texgyreheros-bold-webfont.woff");
	font-weight: bold;
}

@font-face
{
	font-family: "HK";
	src: url("../fonts/HKGrotesk-Medium.otf");
}

@font-face
{
	font-family: "HK";
	src: url("../fonts/HKGrotesk-Bold.otf");
	font-weight: bold;
}

@font-face
{
	font-family: "Univers";
	src: url("../fonts/Univers/UniversLTStd.otf");
}

@font-face
{
	font-family: "Univers";
	src: url("../fonts/Univers/UniversLTStd-Bold.otf");
	font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Inter:wght@400;700&display=swap');

html {
	overflow-y: scroll;
	height: 100%;
}

body
{
  margin: 0;
  background-color: #f0f0f0;
	line-height: normal;
	overflow-x: hidden;
	font-family: "Arimo", sans-serif;
	padding-bottom: 5px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.static-content {
  width: 60%;
}
/* --- Home Content --- */
.h-content
{
  margin-top: 50px;
  height: auto;
  color: #000;
	float: left;
	margin-left: 2%;
}

.bhh-submit
{
	width: 100%;
	font-size: 3em;
	font-weight: bold;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 5px 5px 0px #000;
	transition: background-color 0.2s, box-shadow 0.2s;
	text-align: center;
}

	.bhh-submit:hover
	{
		background-color: #ddd;
	}

	.bhh-submit:active
	{
		box-shadow: none;
	}

.main
{
	font-size: 5em;
	font-weight: bold;
	/*background-color: #fff;
	border-radius: 20px;
	box-shadow: 5px 5px 0px #000; */
	padding-left: 1%;
	margin-bottom: 50px;
}

a.submission
{
	display: block;
	color: #000;
}

p.bold
{
	margin-top: 0;
	font-weight: bold;
	color: #000;
}


/* --- Links --- */
a.navLink
{
	color: #000;
}

a.navLink:visited
{
	color: #000;
}

a.schedLink
{
	color: #000;
}

a:link, a:visited
{
  text-decoration: none;
  color: #000;
}


img
{
  max-width: 100%;
  max-height: 100%;
}

.footer
{
  font-family: "TeX", sans-serif;
  font-weight: bold;
	margin-top: 300px;
  color: #000;
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
	.h-content {
		width: 94%;
		margin-left: 3%;
	}

	.main {
		font-size: 3em;
	}

	.bhh-submit {
		font-size: 2em;
	}
}
