.live-content
{
	width: 30%;
	float: right;
	margin-top: 50px;
	margin-right: 2%;
}

.audio
{
  width: 100%;
  color: #000;
  justify-content: center;
  display: flex;
  height: 200px;
  align-items: center;
	font-family: "TeX";
	font-size: 5em;
	font-weight: bold;
	border-radius: 50px;
	background-color: #fff;
	box-shadow: 5px 5px 0px #000;
	transition: background-color 0.2s, box-shadow 0.2s;
}

.live
{
	box-shadow: 5px 5px 0px #000, inset 0px 0px 0px 6px #ff0000;
}

.live .notification
{
  opacity: 100;
}

.notification
{
  position: absolute;
  margin-top: -150px;
  margin-left: -20vw;
  font-size: 0.3em;
  opacity: 0;
}

#chat
{
	width: 100%;
	border-radius: 50px;
	background-color: #fff;
	box-shadow: 5px 5px 0px #000;
	margin-top: 20px;
	padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

#minnit
{
	width:90%;
	height:400px;
	top: 10px;
	border-radius: 20px;
}

.audio:hover
{
	background-color: #ddd;
}

.audio:active
{
	box-shadow: none;
}

@media only screen and (max-width: 600px) {
  .live-content {
    width: 94%;
    margin-right: 3%;
  }
}
