/* --- SCHEDULE CSS --- */
.content
{
  margin-top: 50px;
  height: auto;
  color: #000;
	float: left;
	margin-left: 3%;
}

h6
{
	font-size: 0.5em;
}

.schedule
{
	font-size: 4em;
	width: 100%;
	height: auto;
}

ul
{
	list-style-type: none;
}

.show > li
{
	font-weight: normal;
	color: #000;
	margin-top: 1%;
	box-shadow: 0px 3px 0px #000;
	padding: 10px 10px 10px 10px;
	margin-bottom: 25px;
}

.day > li
{
	font-weight: bold;
	color: #000;
	margin: 1%;
}

.contrast
{
	box-shadow: 0px 3px 0px #000;
	padding-left: 10px;
	padding-right: 10px;
	/*border: solid 3px #000;*/
}

.s-main
{
	box-shadow: 0px 4px 0px #000;
}

.s-main > p::selection, li > .contrast::selection, li > a::selection {
  background: #ffc0c0;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 94%;
    margin-left: 3%;
  }

  .schedule {
    font-size: 3em;
  }

  ul {
    padding: none;
    -webkit-padding-start: 0;
  }

  .show {
    margin-top: 10px;
  }
}
