@font-face
{
	font-family: "TeX";
	src: url("./fonts/TeX/texgyreheros-regular-webfont.woff");
}

@font-face
{
	font-family: "TeX";
	src: url("./fonts/TeX/texgyreheros-bold-webfont.woff");
	font-weight: bold;
}

html
{
	overflow-x: hidden;
	overflow-y: scroll;
}

body.s
{
  margin: 0;
  background-color: #ff2222;
	line-height: normal;

}

nav
{
  position: relative;
  font-family: "TeX", sans-serif;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.buttons
{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-right: 3.5%;
}

.navButtons
{
  width: 270px;
  color: #550000;
  font-weight: bold;
  text-align: center;
  font-size: 3.5em;
  transition: color 0.2s, background-color 0.2s linear;
}

.drop
{
  position: relative;
  display: inline-block;
}

.dropContent {
  display: none;
  position: absolute;
  background-color: #ff2222;
  min-width: 160px;
  z-index: 1;
	box-shadow: inset 0 0 0px 2px #550000, 0 0 5px #550000;
}

.drop:hover .dropContent
{
  display:block;
}

div.navButtons:hover
{
  background-color: #550000;
  color: #ff2222;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.home
{
  width: 40%;
  height: 150px;
  margin-left: 2%;
}

.content
{
  width: 100%;
  margin-top: 50px;
  height: auto;
  font-family: "TeX", sans-serif;
  color: #550000;
  display: flex;
  justify-content: space-evenly;
}

.main
{
  width: 60%;
	font-size: 5em;
	font-weight: bold;
}

h6
{
	font-size: 0.5em;
}

.schedule
{
	font-size: 4em;
	width: 60%;
	height: auto;
}

p.bold
{
	margin-top: 0;
	font-weight: bold;
	color: #550000;
	margin-left: 1%;
}

ul
{
	list-style-type: none;
}

.show > li
{
	font-weight: normal;
	border-style: solid;
	color: #550000;
	margin-top: 1%;
}

.day > li
{
	font-weight: bold;
	color: #ff2222;
	margin: 1%;
}

.contrast
{
	background-color: #550000;
	padding-left: 10px;
	padding-right: 10px;
}
.selected
{
	background-color: #550000;
	color: #ff2222;
}

a.navLink:hover
{
	color: #ff2222;
	text-shadow: none;
}

a:link
{
  color: #550000;
  text-decoration: none;
}

a:visited
{
	color: #550000;
}

a:hover
{
  color: #fff;
	text-shadow: 3px 3px 0px #550000;
}

a:active
{
	color: #fff;
	text-shadow: none;
}

img
{
  max-width: 100%;
  max-height: 100%;
}

#audio
{
  width: 30%;
  border-style: solid;
  color: #550000;
  justify-content: center;
  display: flex;
  height: 200px;
  align-items: center;
	font-size: 5em;
}

button
{
	-webkit-appearance: none;
	background-color: transparent;
	border: 0;
	color: #550000;
	font-size: 1em;

}

button:hover
{
	color: #8888ff;
}

#pause
{
	display: none;
	font-weight: 700;
}

#load
{
	display: none;
	font-size: 0.6em;
}

.footer
{
  font-family: "TeX", sans-serif;
  font-weight: bold;
  margin-left: 3.33%;
  color: #550000;
  font-size: 2em;
}
